#main-cont{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to top, #a02608 0%, #fd8019 100%);
    overflow: hidden;
}
.wave{
    width: 1000px;
    height: 1025px;
    position: absolute;
    top: -20%;
    left: 50%;
    margin-left: -500px;
    margin-top: -500px;
    border-radius: 25%;
    /* background: rgb(255, 187, 0); */
    background-image: linear-gradient(to top, #fd7200 0%, #fddb19 100%);
    animation: wave 20s infinite linear alternate-reverse;
}
@keyframes wave {
    from {
        transform: rotate(0deg);
        border-radius: 15%;
        
    }
    from {
        border-radius: 35%;
        transform: rotate(360deg);
    }
}